@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto";
}

/*global classes */

.my_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 576px) {
    max-width: 540px;
  }
  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.bg_rose {
  background-color: #fbdcca;
}
.bg_gray {
  background-color: #eee0d0;
}

.bg_darkGray {
  background-color: #ead5c9;
}

body {
  background-color: #fbeee1;
  margin: 0;
  padding: 0;
}

/*best_products*/

.best_products {
  
  text-align: center;
  height:100vh;
  position: fixed;
  width: 100%;
  .products_wrapper{
    height: 100%;
    padding: 16px 0;
  }
  h2 {
    margin: 0 0 8px 0;
    font-size: 28px;
    @media(max-width:991px){
      font-size: 20px;
    }
  }
  p {
    margin: 0 0 16px;
  }
}

.my_products {
  display: flex;
  flex-wrap: wrap;

  .product {
    width: 33.33333%;
    height: 400px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    @media (max-width: 991px) {
      height: auto;
    }
    @media (max-width: 767px) {
      width: 50%;
      height: auto;
    }

    h5 {
      margin: 12px 0 0 0;
      font-weight: bold;
      font-size: 20px;
      @media (max-width: 575px) {
        font-size: 15px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .main_product {
    width: 100%;
    padding: 0;
    height: 200px !important;
  }
  .oher_products {
    display: flex;
    width: 100%;
    .left_part,
    .right_part {
      width: 50%;
      img{
        width: 150px;
        height: 100px;
      }
      .product {
        width: 100% !important;
        height: auto !important;
        padding: 8px;
        align-items: center;
      }
    }
    .left_part {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fbdcca;
      img {
        height: auto;
      }
    }
  }
}
